{{ define "main" }}
  <section id="content">

      <h2 style="margin-bottom: 0;">{{ .Title }} {{ ":clock1:" | .RenderString }}</h2>

      <div style="display: flex; flex-direction: column;">
        <div style="margin-top: 30px; display: flex; align-items: center;">
          {{ .Content}}
        </div>
      </div>
      <div>
        <span>
          This website has an
          <a href="/index.xml">RSS</a> feed.
        </span>
      </div>
      <blockquote>
        {{":bulb: Inspired by Derek Sivers' **[/now](https://sive.rs/now2)**" | .RenderString }}
      </blockquote>
  </section>
{{ end }}