:root:not([data-theme="dark"]), [data-theme="light"] {
  background-color: #B2C9AD!important;
}

body {
  font-family: "Domino", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #B2C9AD!important;
  margin: 0;
}

header {
  padding-block: 0!important;
  margin: 0;
}

.decor {
  background: #DF6D2D;
  background: -webkit-linear-gradient(left, white 50%, #DF6D2D 50%);
  background: -moz-linear-gradient(left, white 50%, #DF6D2D 50%);
  background: -o-linear-gradient(left, white 50%, #DF6D2D 50%);
  background: linear-gradient(left, white 50%, #DF6D2D 50%);
  background-size: 50px 25%;
  padding: 2px;
  display: block;
}

nav {
  font-family: "Space Mono", serif;
  padding: 0 1rem 0;
  backdrop-filter: blur(15px);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;;
}

a {
  border-radius: 3px;
  font-weight: 700;
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #66785F!important;
}

li > a:hover, p > a:hover { 
  background-color: #4B5945;
  color: white!important;
  left: 0; 
}

blockquote {
  background-color: #4B5945;
  color: white!important;
}
blockquote > p, blockquote > a, blockquote > strong > a {
  color: white!important;
}

h1, h2, h3, p, li {
  color: #66785F!important;
}

.meta-info {
  font-family: "Spline Sans Mono", serif;
  font-size: 70%;
  font-style: italic;
  margin-bottom: 0.2rem;
  color: #4B5945;
}

code {
  font-family: "Space Mono", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #4B5945!important;
  color: white!important;
}

code[data-lang]::after {
  content: attr(data-lang);
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: #B2C9AD;
  color: #66785F;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 3px;
  pointer-events: none;
  font-family: monospace;
  text-transform: capitalize;
}

pre {
  background-color: #4B5945!important;
  color: white!important;
  position: relative;
}